---
---
<!doctype html>
<html
    class="group h-full"
    data-controller="app visual-viewport"
    data-app-authorized-value="false"
    data-app-browser-value="chrome"
    data-action="authentication:authorize@window->app#authorize settings:authorize@window->app#authorize"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Feedbin Subscribe & Save</title>
        <link
            rel="stylesheet"
            href="assets/css/wrapper.css"
        />

        <script src="assets/javascript/lib/extension-polyfill.js"></script>
        <script src="assets/javascript/lib/browser-polyfill.js"></script>
        <script src="assets/javascript/application.js" type="module" ></script>
    </head>

    <body class="group flex flex-col bg-0 h-full cursor-default antialiased select-none text-600 text-sm! leading-[1.4] w-[400px] [text-size-adjust:none] browser-ios:h-screen browser-ios:w-screen browser-ios:max-h-dvh browser-ios:max-w-screen">
        <div
            data-controller="tabs"
            class="group flex h-full flex-col shrink-0"
            data-action="app:authorized@window->tabs#selectTab"
        >
            {% include shared/nav.html %}

            <div class="grow min-h-0">
                <div class="hidden h-full group-has-[[value=tab-settings]:checked]:block">
                    {% include settings.html %}
                </div>
                <div class="hidden h-full group-has-[[value=tab-add]:checked]:block">
                    {% include add.html %}
                </div>
                <div class="hidden h-full group-has-[[value=tab-save]:checked]:block">
                    {% include save.html %}
                </div>
            </div>
        </div>

        <svg class="hidden">
            {% for icon in site.data.icons %}
            <symbol
                id="{{ icon[0] }}"
                viewBox="0 0 {{ icon[1].width }} {{ icon[1].height }}"
                preserveAspectRatio="xMidYMin meet"
            >
                {{ icon[1].markup }}
            </symbol>
            {% endfor %}
        </svg>
    </body>
</html>
