<form class="group h-full flex flex-col" data-controller="add" data-action="submit->add#submit" data-add-loading-value="false" novalidate>
    {% capture content %}
    <div>
        <h1 class="mb-2 text-700 font-bold line-clamp-2">Feeds</h1>
        <div class="mb-4">
            <div class="flex mb-4">
                <label class="h-[40px] flex items-center pr-2">
                    {% include shared/checkbox.html %}
                </label>
                <div class="grow min-w-0">
                    <input type="text" class="text-input" placeholder="Daring Fireball" value="Daring Fireball">
                    <div class="flex min-w-0 gap-4 text-sm mt-1 text-500">
                        <div class="grow truncate">
                            www.nytimes.com › feeds › videos.xml
                        </div>
                        <div class="shrink-0">
                            360 posts / month
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="mb-2 text-700 font-bold line-clamp-2">Tags</h1>
        <div class="flex flex-col gap-2">
            <input type="text" class="text-input text-center border-400 shadow mb-2 cursor-pointer focus-visible:border-blue-600 focus-visible:cursor-text focus-visible:text-left placeholder:font-bold placeholder:text-600 focus-visible:placeholder:font-normal focus-visible:placeholder:text-500 " placeholder="+ New Tag">
            {% include shared/checkbutton.html label="🏠 Neighborhood Updates" value="1" %}
            {% include shared/checkbutton.html label="Two" value="1" %}
            {% include shared/checkbutton.html label="Three" value="1" %}
        </div>


    </div>
    <div class="flex gap-4">
        <div class="rounded flex items-center justify-center shrink-none mt-0.5 w-[20px] h-[20px]">
            {% include shared/icon.html icon="icon-feed" class="fill-600" %}
        </div>
        <div class="grow min-w-0">
            <h1 class="mb-1 text-700 font-bold line-clamp-2">
                Javier Bardem Doesn’t Drive. But He Knows How to Swerve.
            </h1>
            <p class="mb-1 line-clamp-3 text-sm">
                The Oscar-winning actor may be starring alongside Brad Pitt in the summer blockbuster “F1: The Movie,” but his career has been harder to categorize.
            </p>
            <p class="mb-1 text-500 truncate text-sm">
                https://www.nytimes.com/2025/06/15/style/javier-bardem-brad-pitt-f1.html
            </p>
        </div>
    </div>
    {% endcapture %}
    {% capture button %}
        <button data-add-target="submitButton" type="submit" class="primary-button">
            <span class="hidden group-data-[add-loading-value=false]:block">
                Find Feeds
            </span>
            <span class="hidden group-data-[add-loading-value=true]:block">
                Finding Feeds…
            </span>
        </button>
    {% endcapture %}
    {% include shared/tab.html content=content button=button %}
</form>
