<div
    class="container group"
    data-controller="add"
    data-add-state-value="initial"
    data-add-search-url-value="{{ site.urls.find | build_url }}"
    data-action="app:pageInfoLoaded@window->add#search"
>

    <div class="message hidden group-data-[add-state-value=initial]:flex">
        {% include shared/spinner.html %}
        <p>Searching for Feeds…</p>
    </div>

    <div class="message hidden group-data-[add-state-value=error]:flex">
        {% include shared/icon.html icon="search" class="shrink-0 fill-600" %}
        <p data-add-target="error" class="text-center"></p>
    </div>

    <div class="message flex hidden group-data-[add-state-value=success]:flex">
        {% include shared/message-icon.html type="success" %}
        <p>Subscribed</p>
    </div>

    <form
        novalidate
        action="{{ site.urls.subscribe | build_url }}"
        method="POST"
        class="hidden container group-data-[add-state-value=hasResults]:flex"
        data-add-target="subscribeForm"
        data-action="submit->add#subscribe:prevent"
    >
        {% capture content %}

        <div class="flex flex-col gap-4">
            <h1 class="heading">Feed<span class="group-data-[add-results-count-value=1]:hidden">s</span></h1>

            <div class="flex flex-col gap-4" data-add-target="feedResults"></div>

            <h1 class="heading">Tags</h1>

            <label class="text-input">
                <input
                    type="text"
                    name="tags[]"
                    class="placeholder:text-600 focus-visible:placeholder:text-500 cursor-pointer border-input text-center placeholder:font-medium focus-visible:cursor-text focus-visible:border-blue-600 focus-visible:text-left focus-visible:placeholder:font-normal"
                    placeholder="+ New Tag"
                />
            </label>
            <div
                data-add-target="tagResults"
                class="flex flex-col gap-2 empty:hidden"
            ></div>
        </div>
        {% endcapture %}

        {% capture button %}
        <button
            data-add-target="submitButton"
            type="submit"
            class="primary-button"
        >
            <span class="group-data-[add-state-value=loading]:hidden">Subscribe</span>
            <span class="hidden group-data-[add-state-value=loading]:block">Subscribing…</span>
        </button>
        {% endcapture %}
        {% include shared/tab.html content=content button=button %}
    </form>

    <template data-add-target="feedTemplate">
        <div class="flex">
            <input
                type="hidden"
                data-template="url"
            />
            <label class="flex h-[40px] items-center pr-2">
                <input
                    type="hidden"
                    value="0"
                    data-template="checkbox_dummy"
                />
                {% include shared/checkbox.html attributes="data-template='checkbox' data-add-target='checkbox'
                data-action='change->add#countSelected' value='1'" %}
            </label>
            <div class="min-w-0 grow">
                <label class="text-input">
                    <div class="pl-2 flex items-center justify-center shrink-0 pointer-events-none">
                        {% include shared/favicon.html attributes="data-add-target='favicon'" %}
                    </div>
                    <input
                        type="text"
                        data-template="feed_input"
                    />
                </label>
                <div class="text-500 mt-1 flex min-w-0 gap-4">
                    <div
                        class="grow truncate"
                        data-template="display_url"
                    ></div>
                    <div
                        class="shrink-0"
                        data-template="volume"
                    ></div>
                </div>
            </div>
        </div>
    </template>

    <template data-add-target="tagTemplate">
        <label
            class="group/checkbutton flex min-w-0 cursor-pointer items-center gap-3 rounded border dark:border-200 p-3 transition -outline-offset-1 outline-3 outline-transparent has-checked:border-600 has-checked:outline-600"
        >
            {% include shared/checkbox.html attributes="data-template='checkbox' name='tags[]'" %}
            <div
                class="grow truncate"
                data-template="label"
            ></div>
            {% include shared/icon.html icon="tag" class="shrink-0 fill-400 group-has-checked/checkbutton:fill-700" %}
        </label>
    </template>
</div>

