<form
    novalidate
    action="{{ site.urls.find | build_url }}"
    method="POST"
    class="group h-full flex flex-col"
    data-controller="add"
    data-add-loading-value="false"
    data-add-has-results-value="false"
    data-action="submit->add#submit:prevent"
>
    {% capture content %}
    {% include shared/error.html content="" attributes="data-add-target='error'" %}

    <div class="hidden group-data-[add-has-results-value=true]:block">
        <h1 class="mb-2 text-700 font-bold line-clamp-2">Feeds</h1>
        <div data-add-target="feedResults">
        </div>

        <h1 class="mb-2 text-700 font-bold line-clamp-2">Tags</h1>
        <div class="flex flex-col gap-2">
            <input type="text" class="text-input text-center border-400 mb-2 cursor-pointer focus-visible:border-blue-600 focus-visible:cursor-text focus-visible:text-left placeholder:font-bold placeholder:text-600 focus-visible:placeholder:font-normal focus-visible:placeholder:text-500 " placeholder="+ New Tag">
            {% include shared/checkbutton.html label="🏠 Neighborhood Updates" value="1" %}
            {% include shared/checkbutton.html label="Two" value="1" %}
            {% include shared/checkbutton.html label="Three" value="1" %}
        </div>
    </div>

    <div class="group-data-[add-has-results-value=true]:hidden">
        {% include page-info.html format="add" %}
    </div>

    <template data-add-target="feedTemplate">
        <div class="flex mb-4">
            <input type="hidden" data-template="url">
            <label class="h-[40px] flex items-center pr-2">
                {% include shared/checkbox.html attributes="data-template='checkbox'" %}
            </label>
            <div class="grow min-w-0">
                <input type="text" class="text-input" data-template="feed_input">
                <div class="flex min-w-0 gap-4 text-sm mt-1 text-500">
                    <div class="grow truncate" data-template="display_url"></div>
                    <div class="shrink-0" data-template="volume"></div>
                </div>
            </div>
        </div>
    </template>

    {% endcapture %}
    {% capture button %}
        <button data-add-target="submitButton" type="submit" class="primary-button">
            <span class="hidden group-data-[add-loading-value=false]:block">
                Find Feeds
            </span>
            <span class="hidden group-data-[add-loading-value=true]:block">
                Finding Feeds…
            </span>
        </button>
    {% endcapture %}
    {% include shared/tab.html content=content button=button %}
</form>
