<div
    class="container group "
    data-controller="newsletters"
    data-newsletters-state-value="initial"
    data-newsletters-edited-value="false"
    data-newsletters-address-valid-value="true"
    data-newsletters-new-address-url-value="{{ site.urls.new_address | build_url }}"
    data-newsletters-create-address-url-value="{{ site.urls.create_address | build_url }}"
    data-action="app:authorized@window->newsletters#new"
>
    <div class="message hidden group-data-[newsletters-state-value=loading]:flex">
        {% include shared/spinner.html %}
        <p>Loading…</p>
    </div>

    {% capture content %}
        <div class="flex flex-col gap-4">
            <h1 class="heading hidden group-data-[newsletters-state-value=initial]:block group-data-[newsletters-state-value=success]:block">New Address</h1>

            {% include shared/error.html content="" attributes="data-newsletters-target='error'" %}

            <div class="py-12 hidden group-data-[newsletters-state-value=success]:block">
                <div class="message">
                    {% include shared/message-icon.html type="success" %}
                    <p>Address Created</p>

                    <button class="mt-6 inline-flex w-auto items-center justify-center group secondary-button" data-newsletters-target="copyButton" data-action="click->copy#copy" data-controller="copy" data-copy-copied-value="false" data-copy-data-value="">
                        <div class="flex gap-2 items-center">
                            {% include shared/icon.html icon="copy" class="fill-400 transition group-data-[copy-copied-value=true]:fill-blue-600" %}
                            <div class="shrink-0" data-copy-target="copyMessage">
                                <span class="hidden group-data-[copy-copied-value=false]:block">Copy</span>
                                <span class="hidden group-data-[copy-copied-value=true]:block">Copied</span>
                            </div>
                        </div>
                    </button>

                    <div class="-mt-2 text-500 max-w-[90%] min-w-0 truncate" data-newsletters-target="addressOutput">asdf.asdf@feedb.in</div>
                </div>
            </div>

            <div class="hidden mb-8 group-data-[newsletters-state-value=initial]:block">

                <form
                    data-newsletters-target="form"
                    data-action="submit->newsletters#submit:prevent submit->newsletters#disable:prevent "
                    action="{{ site.urls.create_address | build_url }}"
                    method="POST"
                    class="flex flex-col gap-4"
                    novalidate
                >
                    <input type="hidden" name="verified_token" data-newsletters-target="verifiedTokenInput">

                    <div>
                        <label class="text-input group/address">
                            <div class="pl-2 flex items-center justify-center shrink-0 pointer-events-none">
                                {% include shared/icon.html icon="newsletters" class="fill-400 transition group-focus-within/address:fill-blue-600" %}
                            </div>
                            <input
                                data-newsletters-target="addressInput"
                                data-action="newsletters#addressInputChanged"
                                type="text"
                                name="address"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                maxlength="40"
                            />
                            <div data-newsletters-target="numbers" class="px-4 border-l border-400 bg-100 flex items-center justify-center shrink-0 pointer-events-none empty:hidden group-data-[newsletters-address-valid-value=false]:hidden"></div>
                        </label>
                        <div class="text-500 mt-1 flex min-w-0 gap-4">
                            <div class="grow text-600 hidden group-data-[newsletters-address-valid-value=false]:block">Invalid Address</div>
                            <div class="grow text-600 truncate group-data-[newsletters-address-valid-value=false]:hidden" data-newsletters-target="addressOutput"></div>
                            <div class="group-data-[newsletters-edited-value=true]:hidden">Or choose a custom prefix</div>
                        </div>
                    </div>

                    <label class="text-input">
                        <input
                            data-newsletters-target="addressDescription"
                            type="text"
                            name="description"
                            placeholder="Description"
                        />
                    </label>

                    <div class="flex gap-6 items-center">
                        <div class="flex flex-col gap-1 grow min-w-0">
                            <div class="text-700">Default Tag</div>
                            <div class="text-500">Newsletters will appear in this tag</div>
                        </div>
                        <div class="shrink-0">
                            <label class="text-input group/tag max-w-[140px]">
                                <select class="truncate" name="newsletter_tag" data-newsletters-target="addressTag"></select>
                                <div class="pr-2 absolute inset-y-0 right-0 flex items-center justify-center shrink-0 pointer-events-none">
                                    {% include shared/icon.html icon="caret" class="fill-400 transition group-focus-within/tag:fill-blue-600" %}
                                </div>
                            </label>
                        </div>
                    </div>

                    <button type="submit" name="button_action" value="save" data-newsletters-target="submitButton" class="primary-button mt-4">Create</button>
                </form>
            </div>

            <div class="flex-col gap-4 hidden group-data-[newsletters-state-value=initial]:flex group-data-[newsletters-state-value=success]:flex">
                <div class="flex gap-2 justify-between items-baseline">
                    <h1 class="heading">Addresses</h1>
                    <a class="text-700" href="{{ site.urls.newsletter_settings | build_url }}">Manage ↗</a>
                </div>
                <ul data-newsletters-target="addressList"></ul>
            </div>
        </div>
    {% endcapture %}
    {% include shared/tab.html content=content %}

    <template data-newsletters-target="addressTemplate">
        <li class="group flex border-b first:border-t" data-template="container" data-controller="copy" data-copy-copied-value="false" data-copy-data-value="">
            <button class="text-left grow min-w-0 flex items-center gap-6 cursor-pointer py-4 outline-2 outline-transparent transition focus-visible:outline-blue-400 focus-visible:rounded" data-action="click->copy#copy">
                <div class="grow min-w-0">
                    <div class="flex flex-col gap-1 grow min-w-0">
                        <div class="text-700 truncate" data-template="email"></div>
                        <div class="text-500 empty:hidden" data-template="description"></div>
                    </div>
                </div>
                <div class="flex gap-2 items-center text-blue-600 group-data-[copy-copied-value=true]:text-blue-700">
                    <div class="shrink-0" data-copy-target="copyMessage">
                        <span class="hidden group-data-[copy-copied-value=false]:block">Copy</span>
                        <span class="hidden group-data-[copy-copied-value=true]:block">Copied</span>
                    </div>
                    {% include shared/icon.html icon="copy" class="fill-blue-600 transition group-data-[copy-copied-value=true]:fill-blue-700" %}
                </div>
            </button>
        </li>
    </template>
    <template data-newsletters-target="optionTemplate">
        <option data-template="option" value=""></option>
    </template>

</div>
