<form
    class="group flex h-full flex-col"
    data-controller="save"
    data-action="submit->save#submit:prevent"
    data-save-state-value="initial"
    action="{{ site.api_host }}{{ site.urls.save }}"
    method="POST"
    novalidate
>
    {% capture content %}
        {% include shared/error.html content="" attributes="data-save-target='error'" %}
        {% include page-info.html format="save" %}
    {% endcapture %}

    {% capture button %}
    <button
        data-save-target="submitButton"
        type="submit"
        class="primary-button"
    >
        <span class="hidden group-data-[save-state-value=initial]:block">Save</span>
        <span class="hidden group-data-[save-state-value=loading]:block">Saving…</span>
        <span class="hidden group-data-[save-state-value=saved]:block">Saved</span>
    </button>
    {% endcapture %} {% include shared/tab.html content=content button=button %}
</form>
