<div
    data-controller="settings"
    data-action="helpers:checkAuth@window->settings#userData"
    class="message hidden group-data-[app-authorized-value=true]:flex"
>
    {% include shared/icon.html icon="logo" class="shrink-0" %}
    <p>
        Signed in as
        <strong
            class="text-700 font-medium"
            data-settings-target="signedInAs"
        ></strong>
    </p>

    <button
        data-action="click->settings#signOut:prevent"
        data-settings-target="signOutButton"
        class="cursor-pointer block text-blue-600"
    >
        Sign Out
    </button>

</div>

<div
    class="group container hidden group-data-[app-authorized-value=false]:flex"
    data-controller="authentication"
    data-authentication-loading-value="false"
    data-authentication-ios-auth-value="true"
>
    <div class="message hidden browser-ios:flex">
        <p class="hidden group-data-[authentication-ios-auth-value=true]:block">Signing in…</p>
        <p class="hidden group-data-[authentication-ios-auth-value=false]:block"><a href="feedbin://" class="p-4 block">Sign in with <span class="text-blue-600">Feedbin</span> to continue</a></p>
    </div>

    <form
        novalidate
        action="{{ site.urls.authentication | build_url }}"
        method="POST"
        class="container group browser-ios:hidden"
        data-action="submit->authentication#submit:prevent"
        data-authentication-target="form"
    >
        {% capture content %}

        <div class="hidden flex-col items-stretch group-data-[app-authorized-value=false]:flex">
            <div class="flex items-center justify-center py-6 pb-8">
                {% include shared/icon.html icon="logo-full" class="shrink-0" %}
            </div>

            {% include shared/error.html content="" attributes="data-authentication-target='error'" %}

            <div class="flex flex-col gap-2">
                <label class="block" for="email_input">Email</label>
                <label class="text-input mb-4">
                    <input
                        id="email_input"
                        type="text"
                        name="email"
                        data-authentication-target="email"
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="false"
                        required
                    />
                </label>

                <div class="flex items-baseline justify-between">
                    <label class="block" for="password_input">Password</label>
                    <a class="text-500 pointer-fine:hover:underline" href="{{ site.urls.password_reset | build_url }}">Forgot your password?</a>
                </div>
                <label class="text-input">
                    <input
                        id="password_input"
                        type="password"
                        name="password"
                        data-authentication-target="password"
                    />
                </label>
            </div>
        </div>
        {% endcapture %}

        {% capture button %}
        <button
            data-authentication-target="submitButton"
            type="submit"
            class="primary-button hidden group-data-[app-authorized-value=false]:block"
        >
            <span class="hidden group-data-[authentication-loading-value=false]:block"> Sign In </span>
            <span class="hidden group-data-[authentication-loading-value=true]:block"> Loading… </span>
        </button>
        {% endcapture %}
        {% include shared/tab.html content=content button=button %}
    </form>

</div>

