<form
    action="{{ site.urls.authentication | build_url }}"
    method="POST"
    class="group h-full flex flex-col"
    data-controller="settings"
    data-action="submit->settings#submit:prevent"
    data-settings-loading-value="false"
    novalidate
>
    {% capture content %}
        <div class="rounded bg-100 border p-3 truncate hidden group-data-[app-authorized-value=true]:block">
            Signed in as <strong class="text-700" data-settings-target="signedInAs"></strong>
        </div>

        <div class="flex flex-col items-stretch hidden group-data-[app-authorized-value=false]:flex">
            <h1 class="mb-4 text-700 font-bold line-clamp-2">Sign in to Feedbin</h1>

            {% include shared/error.html content="" attributes="data-settings-target='error'" %}

            <div class="flex flex-col gap-3">
                <input
                    class="text-input"
                    type="text"
                    name="email"
                    data-settings-target="email"
                    placeholder="Email"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    required
                />
                <input
                    class="text-input"
                    type="password"
                    name="password"
                    data-settings-target="password"
                    placeholder="Password"
                />
            </div>
        </div>
    {% endcapture %}
    {% capture button %}
        <button data-settings-target="submitButton" type="submit" class="primary-button hidden group-data-[app-authorized-value=false]:block">
            <span class="hidden group-data-[settings-loading-value=false]:block">
                Sign In
            </span>
            <span class="hidden group-data-[settings-loading-value=true]:block">
                Loading…
            </span>
        </button>

        <button data-action="click->settings#signOut:prevent" data-settings-target="signOutButton" class="primary-button hidden group-data-[app-authorized-value=true]:block">
            Sign Out
        </button>
    {% endcapture %}
    {% include shared/tab.html content=content button=button %}
</form>
