<div
    data-controller="settings"
    data-action="authentication:authorize@window->settings#userData"
    class="message hidden group-data-[app-authorized-value=true]:flex"
>
    {% include shared/icon.html icon="logo" class="shrink-0" %}
    <p>
        Signed in as
        <strong
            class="text-700 font-medium"
            data-settings-target="signedInAs"
        ></strong>
    </p>

    <button
        data-action="click->settings#signOut:prevent"
        data-settings-target="signOutButton"
        class="cursor-pointer block text-blue-600"
    >
        Sign Out
    </button>

</div>

<div
    class="group h-full"
    data-controller="authentication"
    data-authentication-loading-value="false"
    data-authentication-ios-auth-value="true"
>
    <div class="message hidden browser-ios:flex">
        <p class="hidden group-data-[authentication-ios-auth-value=true]:block">Signing in…</p>
        <p class="hidden group-data-[authentication-ios-auth-value=false]:block"><a href="feedbin://" class="p-4 block">Sign in with <span class="text-blue-600">Feedbin</span> to continue</a></p>
    </div>

    <div class="browser-ios:sr-only">
        <div class="hidden group-data-[app-authorized-value=false]:block">
            <form
                novalidate
                action="{{ site.urls.authentication | build_url }}"
                method="POST"
                class="group flex h-full flex-col"
                data-action="submit->authentication#submit:prevent"
                data-authentication-target="form"
            >
                {% capture content %}

                <div class="hidden flex-col items-stretch group-data-[app-authorized-value=false]:flex">
                    <h1 class="text-700 mb-4 line-clamp-2 font-bold">Sign in to Feedbin</h1>

                    {% include shared/error.html content="" attributes="data-authentication-target='error'" %}


                    <div class="flex flex-col gap-3">
                        <label class="text-input">
                            <input
                                type="text"
                                name="email"
                                data-authentication-target="email"
                                placeholder="Email"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                required
                            />
                        </label>
                        <label class="text-input">
                            <input
                                type="password"
                                name="password"
                                data-authentication-target="password"
                                placeholder="Password"
                            />
                        </label>
                    </div>
                </div>
                {% endcapture %}

                {% capture button %}
                <button
                    data-authentication-target="submitButton"
                    type="submit"
                    class="primary-button hidden group-data-[app-authorized-value=false]:block"
                >
                    <span class="hidden group-data-[authentication-loading-value=false]:block"> Sign In </span>
                    <span class="hidden group-data-[authentication-loading-value=true]:block"> Loading… </span>
                </button>
                {% endcapture %}
                {% include shared/tab.html content=content button=button %}
            </form>
        </div>
    </div>

</div>

