---
---
@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme {
  --light-color-0:    #ffffff;
  --light-color-100:  #f5f5f7;
  --light-color-200:  #e9e9eb;
  --light-color-300:  #bdbfc3;
  --light-color-400:  #91959b;
  --light-color-500:  #707680;
  --light-color-600:  #39404b;
  --light-color-700:  #0d1623;

  --dark-color-0:     #262626;
  --dark-color-100:   #2d2d2d;
  --dark-color-200:   #353535;
  --dark-color-300:   #4d4d4d;
  --dark-color-400:   #707070;
  --dark-color-500:   #8c8c8c;
  --dark-color-600:   #d4d4d4;
  --dark-color-700:   #f6f6f6;

  --color-blue-400:   #619EEB;
  --color-blue-700:   #0554BA;
  --color-green-700:  #03913A;
  --color-red-200:    #F8E8EB;
  --color-orange-600: #E86B0D;

  --color-0:    light-dark(var(--light-color-0),   var(--dark-color-0));
  --color-100:  light-dark(var(--light-color-100), var(--dark-color-100));
  --color-200:  light-dark(var(--light-color-200), var(--dark-color-200));
  --color-300:  light-dark(var(--light-color-300), var(--dark-color-300));
  --color-400:  light-dark(var(--light-color-400), var(--dark-color-400));
  --color-500:  light-dark(var(--light-color-500), var(--dark-color-500));
  --color-600:  light-dark(var(--light-color-600), var(--dark-color-600));
  --color-700:  light-dark(var(--light-color-700), var(--dark-color-700));

  --color-blue-600:  light-dark(#065FE3, #0773FF);
  --color-red-600:   light-dark(#BA0730, #D30D36);
  --color-green-600: light-dark(#05AB48, #04C451);
  --border-color:    light-dark(var(--light-color-200), #000);

}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-color, currentColor);
  }
  input[type=checkbox]::before {
    clip-path: path("M5.25 5.5a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0 M7.712.228a.75.75 0 0 1 1.171.924l-.044.063-3.75 4.75a.75.75 0 0 1-1.178-.93l3.75-4.75z M.9 2.8a.75.75 0 0 1 .987-.193l.063.043 3 2.25.059.05a.75.75 0 0 1-.895 1.193L4.05 6.1l-3-2.25-.059-.05a.75.75 0 0 1-.09-1z");
  }
}

@layer components {
  .text-input {
    @apply border border-400 outline-offset-0 transition rounded-md py-2 px-3 max-w-full text-700 w-full shadow-sm
           focus-visible:border-blue-600 focus-visible:outline-2 focus-visible:outline-blue-600
           placeholder:text-400;
  }
  .primary-button {
    @apply w-full py-2 border border-400 shadow-sm text-700 text-sm rounded-lg font-medium cursor-pointer
           transition outline-2 outline-offset-1 outline-transparent
           active:shadow-none
           focus-visible:outline-blue-400
           disabled:cursor-default disabled:bg-200 disabled:text-500 disabled:shadow-none disabled:border-300;
  }
}