<input
    type="checkbox"
    class="appearance-none flex items-center justify-center w-[16px] h-[16px] block border border-400 rounded shadow-sm transition outline-2 outline-offset-2 outline-transparent
           active:bg-200 active:checked:bg-blue-700 active:checked:border-blue-700 checked:border-blue-600 checked:bg-blue-600 focus-visible:shadow-none focus-visible:outline-blue-400
           before:bg-transparent checked:before:bg-white before:content-[''] before:block before:h-[7px] before:w-[9px]"
>


