<div class="w-[32px] h-[32px] flex items-center justify-center relative">
    {% if include.type == 'success' %}
        {% include shared/icon.html icon="check" class="z-2 shrink-0 fill-white absolute" %}
    {% else %}
        {% include shared/icon.html icon="exclamation" class="z-2 shrink-0 fill-white absolute" %}
    {% endif %}
    <div class="
            z-1 shrink-0 w-[32px] h-[32px] rounded-full absolute
            {% if include.type == 'success' %} bg-green-600 {% else %} bg-red-600 {% endif %}
         "
    ></div>
    <div class="
        z-0 shrink-0 w-[32px] h-[32px] rounded-full absolute animate-grow-fade
        {% if include.type == 'success' %} bg-green-600/20 {% else %} bg-red-600/20 {% endif %}
        "
    ></div>
</div>
