<div
    data-app-target="scrollContainer"
    data-action="scroll->app#checkScroll"
    class="grow min-h-[280px] max-h-[280px] overflow-scroll overscroll-y-contain browser-ios:min-h-auto browser-ios:max-h-none"
>
    <div class="px-4 py-4" data-app-target="contentContainer">
        {{ include.content }}
    </div>
</div>
<div class="w-full shrink-0 border-t px-4 py-4 empty:hidden transition group-data-[app-footer-border-value=false]:border-transparent">{{ include.button }}</div>
<div data-app-target="footerSpacer" class="shrink-0 ease-out transition-[min-height] min-h-[var(--visual-viewport-offset)]"></div>